<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_principal" name="Incidencias" sequence="10"/>

    <menuitem id="menu_incidencias" name="Gestion Incidencias" parent="menu_principal" sequence="10" 
                action="action_incidencias"/>

    <menuitem id="menu_estadisticas" name="Gestion Estadisticas" parent="menu_principal" sequence="10" 
                action="action_estadisticas"/>
    
    <menuitem id="menu_encuestas" name="Gestion Encuestas" parent="menu_principal" sequence="10" 
                action="action_encuestas"/>

    <menuitem id="menu_comentarios" name="Gestion Comentarios" parent="menu_principal" sequence="10" 
                action="action_comentarios"/>

    <menuitem id="menu_adjuntos" name="Gestion Adjuntos" parent="menu_principal" sequence="10" 
                action="action_adjuntos"/>
    
    <menuitem id="menu_employees" name="Gestion Employees" parent="menu_principal" sequence="10" 
                action="action_employees"/>
</odoo>